@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Sen:wght@400;700&display=swap');

@import 'partials/colors';
@import 'partials/typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $gray;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}

@import 'partials/header';
@import 'partials/main';