@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Sen:wght@400;700&display=swap");
h1 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 70px;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
}

h3 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

h4 {
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.75;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #2F2F2F;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
}

header {
  height: 100px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 600px) {
  header .container .menu-section.on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F9F9F9;
    z-index: 10;
  }
}

@media (max-width: 600px) {
  header .container .menu-section.on .menu-toggle {
    position: absolute;
    right: 15px;
    top: 32px;
  }
}

header .container .menu-section.on nav {
  display: block;
}

header .container .menu-section.on nav .search-bar,
header .container .menu-section.on nav .btn-login {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .menu-section.on nav .search-bar {
  margin-left: 70px;
  margin-bottom: 30px;
}

header .container .menu-section .menu-toggle .fa-xmark,
header .container .menu-section .menu-toggle .fa-bars {
  display: none;
  font-size: 30px;
}

@media (max-width: 600px) {
  header .container .menu-section .menu-toggle .fa-bars {
    display: block;
    cursor: pointer;
  }
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}

@media (max-width: 600px) {
  header .container nav {
    display: none;
  }
}

header .container nav .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #EAEAEA;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .container nav .search-bar:hover {
  border: 2px solid #6610F2;
  color: #6610F2;
}

header .container nav .search-bar i {
  font-size: 18px;
}

header .container nav .btn-login {
  padding: 15px 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: transparent;
  border-radius: 60px;
  border: 2px solid #EAEAEA;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .container nav .btn-login:hover {
  border: 2px solid #6610F2;
  color: #6610F2;
}

main {
  height: 100%;
}

main .container {
  height: 100%;
  padding-top: 100px;
}

main .container .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 830px) {
  main .container .main-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

main .container .main-top .blue-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  background: linear-gradient(136.92deg, #2dc7ed 3.14%, rgba(45, 199, 237, 0) 100%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1300px) {
  main .container .main-top .blue-square {
    width: 140px;
    height: 140px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

main .container .main-top .blue-square img {
  width: 75%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1300px) {
  main .container .main-top .blue-square img {
    width: 85%;
    padding-bottom: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

main .container .main-top .main-title {
  max-width: 800px;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 1100px) {
  main .container .main-top .main-title {
    max-width: 500px;
  }
}

@media (max-width: 830px) {
  main .container .main-top .main-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

main .container .main-top .main-title h1 {
  margin-top: 40px;
}

main .container .main-top .yellow-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, right top, left top, from(#f2c94c), to(rgba(242, 201, 76, 0)));
  background: linear-gradient(270deg, #f2c94c 0%, rgba(242, 201, 76, 0) 100%);
  -webkit-clip-path: circle();
          clip-path: circle();
}

@media (max-width: 1300px) {
  main .container .main-top .yellow-circle {
    width: 140px;
    height: 140px;
  }
}

main .container .main-top .yellow-circle img {
  width: 75%;
}

@media (max-width: 1300px) {
  main .container .main-top .yellow-circle img {
    width: 85%;
  }
}

main .container .main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 80px;
}

@media (max-width: 830px) {
  main .container .main-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

main .container .main-bottom .red-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  background: linear-gradient(136.92deg, #ef7c89 3.14%, rgba(239, 124, 137, 0) 100%);
  border-radius: 30px;
  margin-top: 30px;
}

@media (max-width: 1300px) {
  main .container .main-bottom .red-square {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 830px) {
  main .container .main-bottom .red-square {
    margin-top: 0px;
  }
}

main .container .main-bottom .red-square img {
  width: 75%;
}

@media (max-width: 1300px) {
  main .container .main-bottom .red-square img {
    width: 85%;
  }
}

main .container .main-bottom .main-bottom-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 12px;
}

@media (max-width: 830px) {
  main .container .main-bottom .main-bottom-middle {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

main .container .main-bottom .main-bottom-middle .group-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media (max-width: 550px) {
  main .container .main-bottom .main-bottom-middle .group-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .container .main-bottom .main-bottom-middle .group-buttons button {
  padding: 15px 40px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .container .main-bottom .main-bottom-middle .group-buttons .btn-create-memoji {
  background: #6610F2;
  border: 0;
  color: #F9F9F9;
}

main .container .main-bottom .main-bottom-middle .group-buttons .btn-create-memoji:hover {
  opacity: 0.9;
}

main .container .main-bottom .main-bottom-middle .group-buttons .btn-lib {
  background: transparent;
  border: 2px solid #EAEAEA;
  color: #2F2F2F;
}

main .container .main-bottom .main-bottom-middle .group-buttons .btn-lib:hover {
  border: 2px solid #6610F2;
  color: #6610F2;
}

main .container .main-bottom .main-bottom-middle .purple-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, right top, left top, from(#7248ec), to(rgba(114, 72, 236, 0)));
  background: linear-gradient(270deg, #7248ec 0%, rgba(114, 72, 236, 0) 100%);
  -webkit-clip-path: circle();
          clip-path: circle();
  margin-top: 100px;
}

@media (max-width: 1300px) {
  main .container .main-bottom .main-bottom-middle .purple-circle {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 830px) {
  main .container .main-bottom .main-bottom-middle .purple-circle {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 50px;
  }
}

main .container .main-bottom .main-bottom-middle .purple-circle img {
  width: 75%;
}

@media (max-width: 1300px) {
  main .container .main-bottom .main-bottom-middle .purple-circle img {
    width: 85%;
  }
}

main .container .main-bottom .green-triangle-clip-path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
}

@media (max-width: 1300px) {
  main .container .main-bottom .green-triangle-clip-path {
    width: 140px;
    height: 140px;
  }
}

main .container .main-bottom .green-triangle-clip-path img {
  position: absolute;
  width: 90%;
}

@media (max-width: 1300px) {
  main .container .main-bottom .green-triangle-clip-path img {
    width: 85%;
  }
}

main .container .main-bottom .green-triangle-clip-path .green-triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#00e861), to(rgba(0, 232, 97, 0)));
  background: linear-gradient(180deg, #00e861 0%, rgba(0, 232, 97, 0) 100%);
}

@media (max-width: 1300px) {
  main .container .main-bottom .green-triangle-clip-path .green-triangle {
    width: 140px;
    height: 140px;
  }
}

main .container .quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 83px;
  padding-bottom: 50px;
}

@media (max-width: 420px) {
  main .container .quotes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}

main .container .quotes .nikola,
main .container .quotes .steve {
  max-width: 400px;
}

@media (max-width: 830px) {
  main .container .quotes .nikola,
  main .container .quotes .steve {
    padding: 0px 10px;
  }
}

main .container .quotes .nikola h4,
main .container .quotes .steve h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
  padding-left: 3px;
}

@media (max-width: 420px) {
  main .container .quotes .nikola h4,
  main .container .quotes .steve h4 {
    margin-bottom: 15px;
  }
}

main .container .quotes .nikola h4::before,
main .container .quotes .steve h4::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 3px;
  margin-right: 12px;
  background: #6610F2;
}

main .container .quotes .nikola q,
main .container .quotes .steve q {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */