header {
    height: 100px;

    .container {
        @include flexboxSpaceBetweenCenter();
        height: 100%;

        .menu-section.on {
            @media (max-width: 600px) {
                @include flexboxCenterCenter();
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: $white;
                z-index: 10;            // para ficar posicionado sobre os demais elementos da página
            }

            .menu-toggle {
                @media (max-width: 600px) {
                    position: absolute;
                    right: 15px;
                    top: 32px;
                }
            }

            nav {
                display: block;
                
                .search-bar,
                .btn-login {
                    text-align: center;                  
                    display: flex;
                }

                .search-bar {
                    margin-left: 70px;
                    margin-bottom: 30px;
                }
            }
        }

        .menu-section {

            .menu-toggle {

                .fa-xmark,
                .fa-bars {
                    display: none;
                    font-size: 30px;
                }

                .fa-bars {
                    @media (max-width: 600px) {
                        display: block;
                        cursor: pointer;
                    }
                }
            }
        }

        nav {
            @include flexboxStartCenter();
            gap: 45px;

            @media (max-width: 600px) {
                display: none;
            }

            .search-bar {
                @include flexboxCenterCenter();
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid $white-200;
                background: transparent;
                cursor: pointer;
                transition: all 0.4s ease;

                &:hover {
                    border: 2px solid $purple;
                    color: $purple;
                }

                i {
                    font-size: 18px;
                }
            }

            .btn-login {
                padding: 15px 40px;
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                background: transparent;
                border-radius: 60px;
                border: 2px solid $white-200;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.4s ease;

                &:hover {
                    border: 2px solid $purple;
                    color: $purple;
                }
            }
        }
    }
}
