main {
    height: calc(100vh - 100px);

    .container {
        @include flexboxColumnCenter();
        height: 100%;

        .memoji-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .memoji-girl1{
                @include flexboxCenterCenter();
                width: 200px;
                height: 200px;

                @media (max-width: 1300px) {
                    width: 140px;
                    height: 140px;
                }

                @media (max-width: 830px) {
                    display: none;
                }

                img {
                    width: 75%;

                    @media (max-width: 1300px) {
                        width: 85%;
                        padding-bottom: 20px;
                    }
                }
            }

            .memoji-boy1 {
                @include flexboxCenterCenter();
                width: 200px;
                height: 200px;

                @media (max-width: 1300px) {
                    width: 140px;
                    height: 140px;
                }

                @media (max-width: 830px) {
                    display: none;
                }

                img {
                    width: 75%;

                    @media (max-width: 1300px) {
                        width: 85%;
                    }
                }
            }
        }

        .main-middle {
            @include flexboxCenterCenter();

            .main-title {
                max-width: 710px;
                text-align: center;
                margin-top: 10px;

                @media(max-width: 1100px) {
                    max-width: 500px;
                }

                @media (max-width: 830px) {
                    order: 1;
                }

                h1 {
                    margin-top: 15px;

                    span {
                        color: $purple;
                    }
                }
            }
        }

        .main-bottom {
            @include flexboxSpaceBetweenCenter();
            margin-top: 64px;

            @media (max-width: 830px) {
                flex-direction: column;
                align-items: center;
                gap: 25px;
            }

            .memoji-boy2 {
                @include flexboxCenterCenter();
                width: 200px;
                height: 200px;
                margin-top: 30px;
                margin-left: -31px;

                @media (max-width: 1300px) {
                    width: 140px;
                    height: 140px;
                }

                @media (max-width: 830px) {
                    display: none;
                }
            }

            .main-bottom-middle {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0px 12px;

                @media (max-width: 830px) {
                    order: -1;
                }

                .group-buttons {
                    @include flexboxCenterCenter();
                    gap: 50px;
                    
                    @media (max-width: 550px) {
                        flex-direction: column;
                        gap: 24px;
                    }
                    
                    button {
                        padding: 16px 48px;
                        border-radius: 6px;
                        text-transform: uppercase;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px;
                        cursor: pointer;
                        transition: all 0.5s ease;

                        @media (max-width: 550px) {
                            font-size: 16px;
                        }
                    }

                    .btn-create-memoji {
                        background: $purple;
                        border: 2px solid $purple;
                        border: 0;
                        color: $white;

                        &:hover {
                            opacity: 0.9;
                        }
                    }

                    .btn-lib {
                        background: transparent;
                        border: 2px solid $white-200;
                        color: $gray;

                        &:hover {
                            border: 2px solid $purple;
                            color: $purple;
                        }
                    }
                }

                .memoji-boy3 {
                    @include flexboxCenterCenter();
                    width: 200px;
                    height: 200px;
                    margin-top: 100px;
                    align-self: center;

                    @media (max-width: 1300px) {
                        width: 140px;
                        height: 140px;
                    }

                    @media (max-width: 830px) {
                        display: none;
                    }

                    img {
                        width: 75%;
    
                        @media (max-width: 1300px) {
                            width: 85%;
                        }
                    }
                }
            }

            .memoji-girl2 {
                @include flexboxCenterCenter();
                position: relative;
                width: 200px;
                height: 200px;
                margin-right: -31px;

                @media (max-width: 1300px) {
                    width: 140px;
                    height: 140px;
                }

                @media (max-width: 830px) {
                    display: none;
                }

                img {
                    position: absolute;
                    width: 90%;

                    @media (max-width: 1300px) {
                        width: 85%;
                    }
                }
            }

        }
    }
}
