h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;

    @media (max-width: 992px) {
        font-size: 40px;
    }

    @media (max-width: 550px) {
        font-size: 32px;
    }
}

h2 {
    font-size: 32px;
    font-weight: 600;
    color: $purple;

    @media (max-width: 992px) {
        font-size: 24px;
    }

    @media (max-width: 550px) {
        font-size: 20px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 992px) {
        font-size: 20px;
    }

    @media (max-width: 550px) {
        font-size: 18px;
    }
}

p {
    @media (max-width: 992px) {
        font-size: 15px;
    }
}






