$purple: #846AFF;
$background: #F8F8FF;


$white: #F9F9F9;
$white-200: #EAEAEA;
$gray: #2F2F2F;


// Flexbox
@mixin flexboxStartCenter(){              
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexboxCenterCenter(){            
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexboxSpaceBetweenCenter(){         
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexboxSpaceAroundStart(){         
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

@mixin flexboxSpaceAroundCenter(){         
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexboxColumnCenter(){         
    display: flex;
    flex-direction: column;
    justify-content: center;
}
